* {
  margin: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  display: grid;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: solid rgb(160, 174, 211);
  border-width: 5px;
  border-style: double;
  background: seashell;
}

#search {
  padding-top: 12px;
  padding-bottom: 12px;
  border: solid seashell;
  border-width: 5px;
  border-style: double;
  background: rgb(160, 174, 211);
}

.posts {
  padding-top: 12px;
  padding-bottom: 12px;
  border-color: rgb(160, 174, 211);
  border-width: 5px;
  border-style: double;
  background: seashell;
}

aside {
  padding-top: 12px;
  padding-bottom: 12px;
  border: solid seashell;
  border-width: 5px;
  border-style: double;
  background: rgb(160, 174, 211);
}
